{% extends "layout.twig" %}
{% block title %} page d'accueil | {{parent()}} {% endblock %} 
{% block body %}	

<ul>
	<li><p><a href="/article">HOME ARTICLES</a></p></li>
	<li><p><a href="/api/article">API ARTICLES</a></p></li>
	<li><p><a href="/admin/article">ADMIN ARTICLES</a></p></li>
</ul>

{% endblock %}



